/* Mobile-specific overrides */

#content {
    padding: 20px 50px;
}

#nav-links {
    display: block !important;
    margin: 20px 30px 0 -120px;
    padding-left: 0;
}

li.nav-item {
    margin: 5px 0 !important;
    transition: 0.5s all !important;
    display: block;
    margin: 5px 20px !important;
}

#banner-link {
    margin: 15px 15px 15px -10px;
}

#banner-logo {
    margin: 30px;
}