/* Root/Base CSS file */
@import url('//fonts.googleapis.com/css?family=Dela+Gothic+One|Roboto');

html {
    height: 100%;
}

nav {
    color: white;
    font-family: 'Dela Gothic One', Verdana, Arial, Helvetica, sans-serif;
    font-size: 22pt;

    display: flex;
}

body {
    background-color: #800080;

    font-family: 'Roboto', Verdana, Arial, Helvetica, sans-serif;
    font-size: 14pt;
    color: black;
    height: 100%;
    
    line-height: 140%;
    
    margin:0px;
}

p {
    padding: 10px;
}

a {
    color: #FC6320;
    text-shadow: 0px 0px 4px orange;
}

iframe {
    display: block;
    width: 75%;
    margin: auto
}


#wrapper {
    width: 100%;
    max-width: 4000px;
    margin: 0 auto;
}


#content {
    padding: 20px 200px;
}

#contentliquid {
    background-color: white;
}

#footer {
    font-size: 70%;
}

h1 {
    font-family: 'Dela Gothic One', Verdana, Arial, Helvetica, sans-serif;
    color: #FC6320;
    margin: 2px auto 20px auto;
    padding: 20px;
    font-size: 2.5em;
    line-height: 1.05em;
    text-align: center;
    text-shadow: 1px 2px 0 rgba(0,0,0,0.3), -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

h2 {
    font-family: 'Dela Gothic One', Verdana, Arial, Helvetica, sans-serif;
    color: orange; /*#3C4349;*/
    font-size: 1.5em;
    margin: 5px auto 20px auto;
    /*text-align: center;*/
    text-shadow: 1px 2px 0 rgba(0,0,0,0.3), -1px -1px 0 #3C4349, 1px -1px 0 #3C4349, -1px 1px 0 #3C4349, 1px 1px 0 #3C4349;
}

li {
    line-height: 30px;
}

/* Logo etc. */
#banner-link {
    display: inline-flex;
    margin: 15px;
}

#banner-logo {
    width: 271px;
    height: 106px;
        
    margin: 10px auto;
      
    background-image: url(/img/logo.png);
    background-size: 271px 106px;
}


ul#nav-links {
    list-style-type: none;
    display: inline-flex;
}

li.nav-item {
    margin: 15px 15px !important;
    transition: 0.5s all !important;
    display: block;
    margin: auto 20px !important;
}
li.nav-item:hover {
    transform: scale(1.2);
}

a.nav-link {
    color: white;
    text-decoration: none;
    /* color: white; */
    text-shadow: 3px 3px 0 rgba(0,0,0,0.3), -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}


hr {
    height:1px;
    background-color: gray;
}

.image-round {
    max-width: 50%;
    display: block;
    margin: auto;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: transparent;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}
 
::-webkit-scrollbar-thumb {
    background-color: #F060F0;
}
