/* Desktop-specific overrides */

body {
    background-color: #FC6320;  
    background-image: url(/img/bg.gif);
}

#content {
    margin: 0 0 0 30%;
    max-width: 600px;
}

nav {
    color: white;
    width: 250px;
    height: 100%;
    position: fixed;
}

#contentliquid {
    float: left;
}

#company-name {
    margin: 20px auto !important;
}

a.nav-link:hover {
    color: white;
}