/* Root/Base CSS file */


/****************************************************************************/
/*      Fonts */
/****************************************************************************/
@import url('//fonts.googleapis.com/css?family=Dela+Gothic+One|Roboto');


/****************************************************************************/
/*      Main components */
/****************************************************************************/
html 
{
    height: 100%;
}

nav 
{
    color: white;
    font-family: 'Dela Gothic One', Verdana, Arial, Helvetica, sans-serif;
    font-size: 22pt;

    display: flex;
}

body 
{
    background-color: #800080;

    font-family: 'Roboto', Verdana, Arial, Helvetica, sans-serif;
    font-size: 14pt;
    color: black;
    height: 100%;
    
    line-height: 140%;
    
    margin:0px;
}

#content 
{
    padding: 20px 200px;
}

#wrapper 
{
    width: 100%;
    max-width: 4000px;
    margin: 0 auto;
    background-color: white;
}

#footer 
{
    font-size: 70%;
}


/****************************************************************************/
/*      Main element types */
/****************************************************************************/
p 
{
    padding: 10px;
}

iframe 
{
    display: block;
    width: 75%;
    margin: auto
}

h1 
{
    font-family: 'Dela Gothic One', Verdana, Arial, Helvetica, sans-serif;
    color: #FC6320;
    margin: 2px auto 20px auto;
    padding: 20px;
    font-size: 2.5em;
    line-height: 1.05em;
    text-align: center;
    text-shadow: 1px 2px 0 rgba(0,0,0,0.3), -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

h2 
{
    font-family: 'Dela Gothic One', Verdana, Arial, Helvetica, sans-serif;
    color: orange; /*#3C4349;*/
    font-size: 1.5em;
    margin: 5px auto 20px auto;
    /*text-align: center;*/
    text-shadow: 1px 2px 0 rgba(0,0,0,0.3), -1px -1px 0 #3C4349, 1px -1px 0 #3C4349, -1px 1px 0 #3C4349, 1px 1px 0 #3C4349;
}

li 
{
    line-height: 30px;

    &.padded
    {
        margin-top: 8px;
        margin-bottom: 8px;
    }
}


/****************************************************************************/
/*      Links */
/****************************************************************************/
a 
{
    color: #FC6320;
    text-shadow: 0px 0px 4px orange;

    display: inline-block;
}

#page a.grow:hover 
{
    background-color: #ff6000;
    color: white;
    padding: 5px;
    transform: scale(1.5);
    transition: 0.5s ease-out;
    border-radius: 5px;
    text-shadow: none;
}


/****************************************************************************/
/*      Social Icons */
/****************************************************************************/
#joe-image 
{
    float: right;
    background-image: url(https://1.gravatar.com/avatar/21340e8a3fa99c6e5c874354246cf73bcfa09519a30d260922beb40cce7d24d4?size=256);
    background-size: 200px 200px;
    
    width: 200px;
    height: 200px;
 
    margin: 20px;
    
    border-radius: 100px;
    border-style: solid;
    border-color: #FC6320;
    border-width: 5px;
}

.social-icon 
{
    transition: 0.5s all ease-in-out;
    
    width: 48px;
    height: 48px;
    
    margin-right: 5px;

    border: transparent 4px solid;
    border-radius: 50px;

    &:hover
    {
        transform: rotate(360deg) scale(2.0);
        border: #ff6000 4px solid;
        border-radius: 50px;
    }

    &.big
    {
        width: 64px;
        height: 64px;
    }
}


/****************************************************************************/
/*      Logo */
/****************************************************************************/
#banner-link {
    display: inline-flex;
    margin: 15px;
}

#banner-logo {
    width: 271px;
    height: 106px;
        
    margin: 10px auto;
      
    background-image: url(/img/logo.png);
    background-size: 271px 106px;
}


/****************************************************************************/
/*      Nav Bar */
/****************************************************************************/
ul#nav-links 
{
    list-style-type: none;
    display: inline-flex;
}

li.nav-item 
{
    margin: 15px 15px !important;
    transition: 0.5s all !important;
    display: block;
    margin: auto 20px !important;
}

a.nav-link 
{
    color: white;
    text-decoration: none;
    text-shadow: 3px 3px 0 rgba(0,0,0,0.3), -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

hr 
{
    height:1px;
    background-color: gray;
}


/****************************************************************************/
/*      Classes */
/****************************************************************************/
.image-round 
{
    max-width: 50%;
    display: block;
    margin: auto;
}

.hidden 
{
    opacity: 0;
    transition: 0.5s linear;
}


/****************************************************************************/
/*      Scrollbars */
/****************************************************************************/
::-webkit-scrollbar 
{
    width: 10px;
    background-color: transparent;
}

::-webkit-scrollbar-track 
{
    background-color: transparent;
}
 
::-webkit-scrollbar-thumb 
{
    background-color: #F060F0;
}
