/* Desktop-specific overrides */

body {
    background-color: #804080;  
    background-image: url(/img/bg.gif);
}

#content {
    margin: 0 40px 0 290px;
}

nav {
    color: white;
    width: 250px;
    height: 100%;
    position: fixed;
}

#contentliquid {
    float: left;
}

#company-name {
    margin: 0 auto;
}

a.nav-link:hover {
    color: white;
}