/* Mobile-specific overrides */

body {
    background-color: white;
}

#content {
    margin: 0 !important;
}

nav {
    width: 100%;
    text-align: center;
    background-color: #804080;
}


#company-name {
    margin: 0 auto !important;
}

a.nav-link {
    color: #FC6320;
}

a.nav-link:hover {
    color: #FC6320;
}

ul#nav-links {
    margin-top: 40px;
}
