img.post-image {
    width: 200px;
    height: 200px;
                 
    margin: 5px 20px;
    
    object-fit: cover;
    
    border-radius: 100px;
    border-style: solid;
    border-color: #FC6320;
    border-width: 5px;
}
   
@media screen and (max-width:540px) {
    img.post-image { 
        clear: both;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
} 
@media screen and (min-width:540px) {
    img.post-image { 
        float: right;
    }
}

.draft { 
    opacity: 0.4
}

div.post {
    padding: 20px;
    border-radius: 20px;
}

span.author {
    text-align: center;
    
}

div.post:hover {
    background-color: lightgray;
    cursor: pointer;
}   