/* Desktop-specific overrides */

body {
    background-color: #800080;  
    background-image: url(/img/bg.gif);
}

#contentliquid {
    margin: 0 0 0 250px;
}

#content {
    margin: 0 auto;
    width: calc(min(800px, 60%));
}

nav {
    color: white;
    width: 250px;
    height: 100%;
    position: fixed;
    overflow-x: hidden;
    overflow-y: auto;
}

#contentliquid {
    float: left;
}

#company-name {
    margin: 0 auto;
}

a.nav-link:hover {
    color: white;
}